@use '../../../styles/variables' as v;

.section {
  padding: v.$spacing-unit * 12 0;
  background: rgba(v.$white, 0.02);
  border-top: 1px solid rgba(v.$white, 0.05);
  border-bottom: 1px solid rgba(v.$white, 0.05);
  overflow: hidden;
}

.scrollContainer {
  display: flex;
  overflow-x: auto;
  padding: v.$spacing-unit * 4 v.$spacing-unit * 4;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: v.$spacing-unit * 4;
  
  &::-webkit-scrollbar {
    height: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgba(v.$accent-color, 0.2);
    border-radius: 10px;
    
    &:hover {
      background: rgba(v.$accent-color, 0.5);
    }
  }
}

.cardWrapper {
  scroll-snap-align: center;
  flex: 0 0 auto;
}
